// Navigation Styles here


.panel{
    border-bottom:2px dashed @navigation-border;
    display:flex;
    width:100%;
    height:8rem;
    justify-content:flex-start;
    align-items:center;

    // .home1{
    //     // border: 2px solid blue;
    //     display:flex;
    //     width:600px;
    //     height:4rem;
    //     justify-content: space-around;
    //     margin-left:50px;
      

    // }

    nav{
        // border:2px solid green;
        display:flex;
        margin-left:140px;
        padding-left:150px;    
    }

    nav a{
        text-decoration: none;
        margin-right:10px;
        align-self:flex-start;
        color:black;
        padding:10px;
        font-size:15px;
        font-weight:bold;
        
    }
}



